{% extends 'public.html' %}
{% block content %}

        <div class="page-title sp" >
{#        style="background-image: url(/img/page-title.jpg); padding: 40px 0"#}
            <div class="container text-center">
                <h2>About Us</h2>
{#                <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>#}
            </div>
        </div>

        <div class="team-area sp" style="padding-bottom: 50px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <img src="/img/2.jpg" alt="Member Photo">
                            </div>
                            <div class="team-content" style="padding-bottom: 0px">
                                <h4>Cyan Hou</h4>
                                <h5>Coding</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <img src="/img/1.png" alt="Member Photo">
                            </div>
                            <div class="team-content" style="padding-bottom: 0px">
                                <h4>Chuqiang Lin</h4>
                                <h5>UX</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <img src="/img/4.jpg" alt="Member Photo">
                            </div>
                            <div class="team-content" style="padding-bottom: 0px">
                                <h4>Xiaohan Liu</h4>
                                <h5>Management</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 single-team">
                        <div class="inner">
                            <div class="team-img">
                                <img src="/img/3.jpg" alt="Member Photo">
                            </div>
                            <div class="team-content" style="padding-bottom: 0px">
                                <h4>Yefei Chen</h4>
                                <h5>Data Collection</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-area sp bg2">
            <div class="section-title" data-margin="0 0 40px">
                <h2>Personal Contribution</h2>
{#                <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>#}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 single-service-2">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="iconfont icon-programmingwindo"></i>
                                </div>
                                <h4>Coding</h4>
                            </div>
                            <div class="content">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-service-2">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="iconfont icon-huahua"></i>
                                </div>
                                <h4>UX</h4>
                            </div>
                            <div class="content">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-service-2">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="iconfont icon-xiangmuguanli-"></i>
                                </div>
                                <h4>Management</h4>
                            </div>
                            <div class="content">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-service-2">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="iconfont icon-shuju"></i>
                                </div>
                                <h4>Data Collection</h4>
                            </div>
                            <div class="content">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="brand-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6 single-brand">
                        <div class="inner">
                            <a href="#">
                                <img src="/img/flask.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 single-brand">
                        <div class="inner">
                            <a href="#">
                                <img src="/img/scrapy.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 single-brand">
                        <div class="inner">
                            <a href="#">
                                <img src="/img/sqlite.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 single-brand">
                        <div class="inner">
                            <a href="#">
                                <img src="/img/trello.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
