{% extends 'public.html' %}
{% block content %}

        <div class="sp" style="padding-top: 30px; padding-bottom: 30px">
            <div class="container">
                <div class="row" style="margin-bottom: 20px; display: flex; align-items: center">
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="ui-widget">
                                <input  class="form-control" id="keys" type="text" placeholder="I want to make...">
                            </div>
                                <span class="input-group-btn">
                                    <input class="btn btn-default" id="search" type="submit" value="Search">

                                </span>


{#                                <span class="input-group-btn">#}
{#                                    #}
{#                                </span>#}


                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-10">
{#                    <div class="col-sm-2" style="display: flex; align-items: center">#}
                        <div class="controlwidth">


                                <input type="checkbox" id="is_title" style="margin: 0px" ><span width="400px">&nbsp;Search for title</span>


                                <input type="checkbox" id="is_advance" style="margin: 0px"><span width="400px">&nbsp;Advanced Search</span>
                        </div>
                    </div>
{#                    </div>#}

                </div>
                <div id="advance">
                    <div class="row">
                        <div class="col-sm-10">

                        <div class="col-lg-5">
                            <input class="form-control" id="ingredients" type="text" placeholder="Ingredients">
                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input class="form-control" id="time_left" type="text" placeholder="From Time Cost">
                                </div>
                                <div class="col-lg-6">
                                    <input class="form-control" id="time_right" type="text" placeholder="To Time Cost">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="faq-area-2 sp">
            <div class="container" id="search-results">


            </div>
        </div>

{% endblock %}
{% block jscode %}

    <script>

    $("#search").on("click", function () {
        var keys = $("#keys").val();
        var is_title = $("#is_title").prop("checked");
        var ingredients = $("#ingredients").val();
        var time_left = $("#time_left").val();
        var time_right = $("#time_right").val();

        if ($.trim(time_left).length != 0) {
            if ($.isNumeric(time_left) == false) {
                alert("Please input the correct number!")
            }
            if (parseInt(time_left) <= 0) {
                alert("Please input the correct number!")
            }
        }

        if ($.trim(time_right).length != 0) {
            if ($.isNumeric(time_right) == false) {
                alert("Please input the correct number!")
            }
            if (parseInt(time_right) <= 0) {
                alert("Please input the correct number!")
            }
        }

        if (is_title && $.trim(keys).length == 0) {
            alert("Please specify the title!")
        } else if ($.trim(keys).length == 0 && $.trim(ingredients).length == 0) {
            alert("Try to search something!")
        } else {
            var data = {
                data: JSON.stringify({
                    "is_title": is_title,
                    "keys": keys,
                    "ingredients": ingredients,
                    "time_left": time_left,
                    "time_right": time_right
                })
            };

            $.ajax({
                url: "/results",
                type: "post",
                data: data,
                success: function (response) {
                    $("#search-results").html(response)
                }
            });
        }
    })
    </script>
{#    yefei add#}
    <script>
    $(document).ready(function(){
        $("#advance").hide();
        $('#is_advance').change(function(){
        if(this.checked)
            $("#advance").show();
        else
            $("#advance").hide();

        });


        $( "#keys" ).bind('input', function() {
            {#var data2 = {#}
            {#    data2: JSON.stringify({#}
            {#"is_title": is_title,#}
            {#        "keys": keys,#}
            {#"ingredients": ingredients,#}
            {#"time_left": time_left,#}
            {#"time_right": time_right#}
            {#    })#}


            $.ajax({
                url: "/autocomplete",
                type: "post",
                data: {keys: $("#keys").val()}

            });
        });









        $( "#keys" ).autocomplete({
            source: function (request, response) {
                lists = []
                $.ajax({
                    url: "/autocomplete",
                    type: "post",
                    dataType: "json",
                    data: {keys: $("#keys").val()},

                    success: function(data){
                        console.log(data);
                        response($.map(data,function(item){
                            return item
                        }))
                    }

                });
            }
        });



    });
    </script>
{#yefei add#}
{% endblock %}